{% extends 'base.html' %}
{% block head %}
    <title>Edit Posts</title>
{% endblock %}

{% block body %}
    <hr>
    <h2>Edit Blog Posts:</h2>

<form action="/posts/edit/{{ post.id }}" method="POST">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="title" id="title" value="{{ post.title }}">
  </div>
  <div class="form-group">
   <label>Content</label>
       <textarea class="form-control" name="content" id="content" rows="4">{{ post.content }}</textarea>
  </div>
    <div class="form-group">
    <label>Author</label>
      <input type="text" class="form-control" name="author" id="author" value="{{ post.author }}">
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    <hr>
{% endblock %}